@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

/* Elemkijelölők */

body {
    background-color: #252525;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}

a:link {
    color: #fff !important;
    filter: brightness(75%) !important;
    text-decoration: none;
    transition: 0.3s;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    filter: brightness(100%) !important;
    text-decoration: none;
}

a:active {
    color: #fff;
    text-decoration: none;
}


/* Class kijelölők */

.external-link-icon {
    width: 6vh
}

.txt-small {
    font-size: 18px;
}

.footer-bg {
    background-color: #101010;
}

.h1-bg {
    background-color: #101010;
}

/* Hátterek (Class) */

.bg-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./src/kepek/csokiskekszszalami.jpg);
    background-size: cover;
    background-position: center;
}

.bg-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./src/kepek/sajttorta.jpg);
    background-size: cover;
    background-position: center;
}

.bg-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./src/kepek/milkyway.jpg);
    background-size: cover;
    background-position: center;
}

.bg-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./src/kepek/churros.png);
    background-size: cover;
    background-position: center;
}

.bg-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./src/kepek/palacsinta.webp);
    background-size: cover;
    background-position: center;
}

.bg-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./src/kepek/kremes.jpg);
    background-size: cover;
    background-position: center;
}

.bg-7 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./src/kepek/aranygaluska.png);
    background-size: cover;
    background-position: center;
}

.bg-8 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./src/kepek/feketeerdotorta.jpg);
    background-size: cover;
    background-position: center;
}

.bg-9 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./src/kepek/twix.jpg);
    background-size: cover;
    background-position: center;
}

.bg-10 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./src/kepek/dobostorta.jpg);
    background-size: cover;
    background-position: center;
}

.bg-11 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./src/kepek/brownie.jpg);
    background-size: cover;
    background-position: center;
}

.bg-12 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./src/kepek/rakoczituros.jpg);
    background-size: cover;
    background-position: center;
}

.bg-1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./src/kepek/csokiskekszszalami.jpg);
    transition: 4s !important;
}

.bg-2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./src/kepek/sajttorta.jpg);
    transition: 4s !important;
}

.bg-3:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./src/kepek/milkyway.jpg);
    transition: 4s !important;
}

.bg-4:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./src/kepek/churros.png);
    transition: 4s !important;
}

.bg-5:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./src/kepek/palacsinta.webp);
    transition: 4s !important;
}

.bg-6:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./src/kepek/kremes.jpg);
    transition: 4s !important;
}

.bg-7:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./src/kepek/aranygaluska.png);
    transition: 4s !important;
}

.bg-8:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./src/kepek/feketeerdotorta.jpg);
    transition: 4s !important;
}

.bg-9:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./src/kepek/twix.jpg);
    transition: 4s !important;
}

.bg-10:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./src/kepek/dobostorta.jpg);
    transition: 4s !important;
}

.bg-11:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./src/kepek/brownie.jpg);
    transition: 4s !important;
}

.bg-12:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./src/kepek/rakoczituros.jpg);
    transition: 4s !important;
}